.Home_Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Home_Container_SearchBar{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
}
.Home_Container_SearchBar_content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Home_Container_SearchBar input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 280px;
}
.Home_Container_SearchBar input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
.Home_Container_SearchBar input[type=text]:focus {
  width: 280px;
}
.searchIcon{
    position: absolute;
    right: 0px;
    color: white;
    background-color: purple;
    width: 30px;
    height: 30px;
}
.Content_container{
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto auto 20px;

}
.Home_Container_HindiStories{
    width: 90%;
    /* max-height: 600px; */
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px; 
    flex-direction: row; 
    justify-content: center;
    background-color: whitesmoke;
    margin: 10px auto auto auto;

    
}
.Home_Container_HindiStories_heading{
    background-color: teal;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.HindiStories_Content{
    width: 45%;
    /* background-color: aquamarine; */
    margin: 1px auto auto 2.5%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid rgb(196, 196, 196);
    /* background-color: rgb(247, 242, 242); */
    background-color: white;
    border-left: 0.2px solid white;
    

}
.HindiStories_Content:hover{
    cursor: pointer;
    
}
.Allposts_or_contents{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    
}
.Content_heading{
    /* background-color: red; */
    /* height: 30px; */
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 0.6rem;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 0.2px solid rgb(243, 241, 241);


}
.Content_subheading{
    /* background-color: green; */
    /* height: 20px; */
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 0.6rem;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 0.2px solid rgb(243, 241, 241);
}
.Content_content{
    /* background-color: yellow; */
    /* height: 50px; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    height: 40px;
    overflow: hidden;
    border-bottom: 0.2px solid rgb(243, 241, 241);

}
.Content_date{
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    flex-direction: column;
    word-wrap: break-word;
    height: 30px;
    justify-content: center;
}
.Seemore_btn{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    display: flex;
    position: relative;

}
.Seemore_btn button{
    margin:auto 20px auto auto;
    background-color: teal;
    color: white;
    /* width: 6rem; */
    font-size: 1rem;
}
.SearchItems_Component_container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 81px 0px;
    z-index: 99999;

}



@media only screen and (max-width:768px) {
    .HindiStories_Content{
        width: 90%;
        /* height: 150px; */
        margin:1px auto;
        display: flex;
        flex-direction: column;
        padding: 1px;
    
    }
    .Home_Container_HindiStories{
        width: 90%;
        /* max-height: 600px; */
        display: flex;
        flex-wrap: wrap;
        max-width: 1440px;  
        justify-content: center;
        margin: 10px auto auto auto;
        
    }
    .Content_content{
        display: none;
    }
    .Content_container{
        width: 100%;
        height: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Content_content{
        display: none;
    }
   
}

